
html, body {
  height: 100%;
  margin: 0;
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

.exam-section {
  padding: 50px 0;
}
.exam-card {
  background: #dbedf5;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 100%;
}

.accordion-button {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
}

.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
  }
  
  .pagination a.active {
    background-color: #65abd0;
    color: white;
    border: 1px solid #65abd0;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
  .pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

 .page {
    text-align: center;
 }
