#wrap{
    min-height: 100vh;
}

.exam-section {
  padding: 50px 0;
}
.exam-card {
  background: #dbedf5;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 100%;
}

.accordion-button {
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
}
